{% extends "base.html" %}

{% block title %}Finanças | Adicionar Tipo de Crediário{% endblock %}
{% block header_title %}Adicionar Novo Tipo de Crediário{% endblock %}

{% block content %}
<form action="{{ url_for('tipos_crediario.add_tipo_crediario') }}" method="post">
    <label for="nome_tipo">Nome do Tipo de Crediário:</label>
    <input type="text" id="nome_tipo" name="nome_tipo" maxlength="100" required><br><br>

    <button type="submit" class="button">Adicionar</button>
    <a href="{{ url_for('tipos_crediario.list_tipos_crediario') }}" class="button cancel">Cancelar</a>
</form>
{% endblock %}