{# templates/movimento/lancamento.html #}
{% extends "base.html" %}

{% block title %}Finanças | Lançamento Bancário{% endblock %}


{% block content %}
<h2>Registrar Novo Lançamento Bancário</h2>

<form action="{{ url_for('movimento.mov_lancamento') }}" method="post">
    <label for="conta_id">Conta Bancária (Origem):</label>
    <select id="conta_id" name="conta_id" required>
        <option value="">Selecione a Conta</option>
        {% for conta in contas %}
        <option value="{{ conta.id }}" data-saldo="{{ conta.saldo_atual }}">{{ conta.nome_banco }} - {{
            conta.tipo_conta }} (Saldo: R$ {{ "%.2f" % conta.saldo_atual }})</option>
        {% endfor %}
    </select><br><br>

    <label for="data">Data:</label>
    <input type="date" id="data" name="data" required><br><br>

    <label for="valor">Valor do Lançamento:</label>
    <input type="text" id="valor" name="valor" step="0.01" required placeholder="Ex: 100.50 ou -50.25"><br><br>

    <label for="descricao">Tipo de Transação:</label>
    <select id="descricao" name="descricao" required>
        <option value="">Selecione a Transação</option>
        {% for transacao_item in transacoes %}
        <option value="{{ transacao_item.transacao }}" data-tipo="{{ transacao_item.tipo }}">
            {% if transacao_item.tipo == 'Entrada' %}(+){% else %}(-){% endif %} {{ transacao_item.transacao }}
        </option>
        {% endfor %}
    </select><br><br>

    <input type="checkbox" id="is_transfer" name="is_transfer" value="true">
    <label for="is_transfer">Transferência Inter Contas</label><br><br>

    <div id="target_account_group" style="display: none;">
        <label for="conta_destino_id">Conta Destino:</label>
        <select id="conta_destino_id" name="conta_destino_id">
            <option value="">Selecione a Conta Destino</option>
        </select><br><br>
    </div>

    <button type="submit" class="button">Salvar Lançamento</button>
</form>

{% endblock %}