{# templates/grupo_crediario/edit.html #}
{% extends 'base.html' %}

{% block title %}Finanças | Grupos de Crediário{% endblock %}

{% block content %}
<h2>Editar Grupo de Crediário</h2>
<form action="{{ url_for('grupo_crediario.edit_grupo_crediario', grupo_id=grupo.id) }}" method="post">
    <label for="conta">Nome do Grupo:</label>
    <input type="text" id="grupo" name="grupo" value="{{ grupo.grupo }}" required><br><br>

    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo" required>
        {% for tipo_opcao in tipos_transacao %}
        <option value="{{ tipo_opcao }}" {% if tipo_opcao==grupo.tipo %}selected{% endif %}>
            {{ tipo_opcao }}
        </option>
        {% endfor %}
    </select><br><br>
    <button type="submit" class="button">Atualizar</button>
    <a href="{{ url_for('grupo_crediario.list_grupo_crediario') }}" class="button cancel">Cancelar</a>
</form>

{% endblock %}